:root {
  --background-color: #181824;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, sans-serif;
  font: 400 145%/1.5 Verdana, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  max-width: 800px;
  margin: auto;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}
